@charset "UTF-8";
/******************************************************************

Stylesheet: TinyMCE Editor

// This stylesheet is loaded automatically by Wordpress when compiled and placed in the root theme directory folder as editor-style.css
// For more info, check out the codex: http://codex.wordpress.org/Editor_Style

******************************************************************/
body#tinymce.wp-editor {
  /* ==========================================================================
  	Normalize v3.0.2 | MIT License
  	========================================================================== */
  /*	Fonts
  /*--------------------------------------*/
  /* ==========================================================================
  	Typography
  	========================================================================== */
  /*	Headers
  /*--------------------------------------*/
  /* Custom Headers */
  /*	Text Elements
  /*--------------------------------------*/
  /*	Links
  /*--------------------------------------*/
  /*	Accessibility
  /*--------------------------------------*/
  width: auto;
  font-family: "Proxima", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.87);
  -webkit-font-smoothing: antialiased;
  padding: 0 15px;
  /* Additional Styles */
  /*********************
  LARGER MOBILE DEVICES
  This is for devices like the Galaxy Note or something that's
  larger than an iPhone but smaller than a tablet. Let's call them
  tweeners.
  *********************/
}
body#tinymce.wp-editor html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body#tinymce.wp-editor body {
  margin: 0;
}
body#tinymce.wp-editor article,
body#tinymce.wp-editor aside,
body#tinymce.wp-editor details,
body#tinymce.wp-editor figcaption,
body#tinymce.wp-editor figure,
body#tinymce.wp-editor footer,
body#tinymce.wp-editor header,
body#tinymce.wp-editor hgroup,
body#tinymce.wp-editor main,
body#tinymce.wp-editor menu,
body#tinymce.wp-editor nav,
body#tinymce.wp-editor section,
body#tinymce.wp-editor summary {
  display: block;
}
body#tinymce.wp-editor audio,
body#tinymce.wp-editor canvas,
body#tinymce.wp-editor progress,
body#tinymce.wp-editor video {
  display: inline-block;
  vertical-align: baseline;
}
body#tinymce.wp-editor audio:not([controls]) {
  display: none;
  height: 0;
}
body#tinymce.wp-editor [hidden],
body#tinymce.wp-editor template {
  display: none;
}
body#tinymce.wp-editor a {
  background-color: transparent;
}
body#tinymce.wp-editor a:active,
body#tinymce.wp-editor a:hover {
  outline: 0;
}
body#tinymce.wp-editor abbr[title] {
  border-bottom: 1px dotted;
}
body#tinymce.wp-editor b,
body#tinymce.wp-editor strong {
  font-weight: bold;
}
body#tinymce.wp-editor dfn {
  font-style: italic;
}
body#tinymce.wp-editor h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
body#tinymce.wp-editor mark {
  background: #ff0;
  color: #000;
}
body#tinymce.wp-editor small {
  font-size: 80%;
}
body#tinymce.wp-editor sub,
body#tinymce.wp-editor sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
body#tinymce.wp-editor sup {
  top: -0.5em;
}
body#tinymce.wp-editor sub {
  bottom: -0.25em;
}
body#tinymce.wp-editor img {
  border: 0;
}
body#tinymce.wp-editor svg:not(:root) {
  overflow: hidden;
}
body#tinymce.wp-editor figure {
  margin: 1em 40px;
}
body#tinymce.wp-editor hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
body#tinymce.wp-editor p {
  -webkit-hyphens: manual;
  -epub-hyphens: manual;
  -ms-hyphens: manual;
      hyphens: manual;
}
body#tinymce.wp-editor pre {
  overflow: auto;
}
body#tinymce.wp-editor code,
body#tinymce.wp-editor kbd,
body#tinymce.wp-editor pre,
body#tinymce.wp-editor samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
body#tinymce.wp-editor button,
body#tinymce.wp-editor input,
body#tinymce.wp-editor optgroup,
body#tinymce.wp-editor select,
body#tinymce.wp-editor textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
body#tinymce.wp-editor button {
  overflow: visible;
}
body#tinymce.wp-editor button,
body#tinymce.wp-editor select {
  text-transform: none;
}
body#tinymce.wp-editor button,
body#tinymce.wp-editor html input[type=button],
body#tinymce.wp-editor input[type=reset],
body#tinymce.wp-editor input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
body#tinymce.wp-editor button[disabled],
body#tinymce.wp-editor html input[disabled] {
  cursor: default;
}
body#tinymce.wp-editor button::-moz-focus-inner,
body#tinymce.wp-editor input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
body#tinymce.wp-editor input {
  line-height: normal;
}
body#tinymce.wp-editor input[type=checkbox],
body#tinymce.wp-editor input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
body#tinymce.wp-editor input[type=number]::-webkit-inner-spin-button,
body#tinymce.wp-editor input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
body#tinymce.wp-editor input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
body#tinymce.wp-editor input[type=search]::-webkit-search-cancel-button,
body#tinymce.wp-editor input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
body#tinymce.wp-editor fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
body#tinymce.wp-editor legend {
  border: 0;
  padding: 0;
}
body#tinymce.wp-editor textarea {
  overflow: auto;
}
body#tinymce.wp-editor optgroup {
  font-weight: bold;
}
body#tinymce.wp-editor table {
  border-collapse: collapse;
  border-spacing: 0;
}
body#tinymce.wp-editor td,
body#tinymce.wp-editor th {
  padding: 0;
}
body#tinymce.wp-editor .hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
body#tinymce.wp-editor article p a[href*="//"]:not([href*="linguistics.ucla"]), body#tinymce.wp-editor article h1 a[href*="//"]:not([href*="linguistics.ucla"]), body#tinymce.wp-editor article h2 a[href*="//"]:not([href*="linguistics.ucla"]), body#tinymce.wp-editor article h3 a[href*="//"]:not([href*="linguistics.ucla"]), body#tinymce.wp-editor article h4 a[href*="//"]:not([href*="linguistics.ucla"]), body#tinymce.wp-editor article h5 a[href*="//"]:not([href*="linguistics.ucla"]), body#tinymce.wp-editor article h6 a[href*="//"]:not([href*="linguistics.ucla"]) {
  margin-right: 3px;
}
body#tinymce.wp-editor article p a[href*="//"]:not([href*="linguistics.ucla"]):after, body#tinymce.wp-editor article h1 a[href*="//"]:not([href*="linguistics.ucla"]):after, body#tinymce.wp-editor article h2 a[href*="//"]:not([href*="linguistics.ucla"]):after, body#tinymce.wp-editor article h3 a[href*="//"]:not([href*="linguistics.ucla"]):after, body#tinymce.wp-editor article h4 a[href*="//"]:not([href*="linguistics.ucla"]):after, body#tinymce.wp-editor article h5 a[href*="//"]:not([href*="linguistics.ucla"]):after, body#tinymce.wp-editor article h6 a[href*="//"]:not([href*="linguistics.ucla"]):after {
  content: " ";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8em;
}
body#tinymce.wp-editor article p a[href*="//"]:not([href*="linguistics.ucla"]).hide-external, body#tinymce.wp-editor article h1 a[href*="//"]:not([href*="linguistics.ucla"]).hide-external, body#tinymce.wp-editor article h2 a[href*="//"]:not([href*="linguistics.ucla"]).hide-external, body#tinymce.wp-editor article h3 a[href*="//"]:not([href*="linguistics.ucla"]).hide-external, body#tinymce.wp-editor article h4 a[href*="//"]:not([href*="linguistics.ucla"]).hide-external, body#tinymce.wp-editor article h5 a[href*="//"]:not([href*="linguistics.ucla"]).hide-external, body#tinymce.wp-editor article h6 a[href*="//"]:not([href*="linguistics.ucla"]).hide-external {
  background-image: none;
  padding-right: 0;
  margin-right: 0;
}
@font-face {
  body#tinymce.wp-editor {
    font-family: Proxima;
    src: url("../fonts/proximanova-regular-webfont.eot");
    src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    body#tinymce.wp-editor {
      font-family: Proxima;
      src: url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg");
    }
  }
}
@font-face {
  body#tinymce.wp-editor {
    font-family: Proxima;
    src: url("../fonts/proximanova-regit-webfont.eot");
    src: url("../fonts/proximanova-regit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regit-webfont.woff") format("woff"), url("../fonts/proximanova-regit-webfont.ttf") format("truetype"), url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg");
    font-weight: normal;
    font-style: italic;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    body#tinymce.wp-editor {
      font-family: Proxima;
      src: url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg");
    }
  }
}
@font-face {
  body#tinymce.wp-editor {
    font-family: Proxima;
    src: url("../fonts/proximanova-thin-webfont.eot");
    src: url("../fonts/proximanova-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-thin-webfont.woff") format("woff"), url("../fonts/proximanova-thin-webfont.ttf") format("truetype"), url("../fonts/proximanova-thin-webfont.svg#Proxima") format("svg");
    font-weight: 100;
    font-style: normal;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    body#tinymce.wp-editor {
      font-family: Proxima;
      src: url("../fonts/proximanova-thin-webfont.svg#Proxima") format("svg");
    }
  }
}
@font-face {
  body#tinymce.wp-editor {
    font-family: Proxima;
    src: url("../fonts/proximanova-light-webfont.eot");
    src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#Proxima") format("svg");
    font-weight: 300;
    font-style: normal;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    body#tinymce.wp-editor {
      font-family: Proxima;
      src: url("../fonts/proximanova-light-webfont.svg#Proxima") format("svg");
    }
  }
}
@font-face {
  body#tinymce.wp-editor {
    font-family: Proxima;
    src: url("../fonts/proximanova-semibold-webfont.eot");
    src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg");
    font-weight: bold;
    font-style: normal;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    body#tinymce.wp-editor {
      font-family: Proxima;
      src: url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg");
    }
  }
}
@font-face {
  body#tinymce.wp-editor {
    font-family: Proxima;
    src: url("../fonts/proximanova-semiboldit-webfont.eot");
    src: url("../fonts/proximanova-semiboldit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semiboldit-webfont.woff") format("woff"), url("../fonts/proximanova-semiboldit-webfont.ttf") format("truetype"), url("../fonts/proximanova-semiboldit-webfont.svg#Proxima") format("svg");
    font-weight: bold;
    font-style: italic;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    body#tinymce.wp-editor {
      font-family: Proxima;
      src: url("../fonts/proximanova-semiboldit-webfont.svg#Proxima") format("svg");
    }
  }
}
@font-face {
  body#tinymce.wp-editor {
    font-family: Proxima;
    src: url("../fonts/proximanova-xbold-webfont.eot");
    src: url("../fonts/proximanova-xbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-xbold-webfont.woff") format("woff"), url("../fonts/proximanova-xbold-webfont.ttf") format("truetype"), url("../fonts/proximanova-xbold-webfont.svg#Proxima") format("svg");
    font-weight: 900;
    font-style: normal;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    body#tinymce.wp-editor {
      font-family: Proxima;
      src: url("../fonts/proximanova-xbold-webfont.svg#Proxima") format("svg");
    }
  }
}
@font-face {
  body#tinymce.wp-editor {
    font-family: FontAwesome;
    src: url("../fonts/fontawesome-webfont.eot");
    src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#FontAwesome") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    body#tinymce.wp-editor {
      font-family: FontAwesome;
      src: url("../fonts/fontawesome-webfont.svg#FontAwesome") format("svg");
    }
  }
}
body#tinymce.wp-editor body {
  color: rgba(0, 0, 0, 0.87);
  font: 15px/25px "Proxima", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px transparent;
}
body#tinymce.wp-editor h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor h6 {
  font-weight: 500;
  clear: both;
  margin: 0;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body#tinymce.wp-editor h1 {
  font-size: 3em;
  line-height: 1.1em;
}
body#tinymce.wp-editor h2 {
  font-size: 2.5em;
  line-height: 1.2em;
}
body#tinymce.wp-editor h3 {
  font-size: 2em;
  line-height: 1.2em;
}
body#tinymce.wp-editor h4 {
  font-size: 1.75em;
  line-height: 1.2em;
}
body#tinymce.wp-editor h5 {
  font-size: 1.5em;
  line-height: 1.3em;
}
body#tinymce.wp-editor h6 {
  font-size: 1.2em;
  line-height: 1.8em;
}
body#tinymce.wp-editor .page h2, body#tinymce.wp-editor .page h3, body#tinymce.wp-editor .page h4, body#tinymce.wp-editor .page h5, body#tinymce.wp-editor .page h6, body#tinymce.wp-editor .single h2, body#tinymce.wp-editor .single h3, body#tinymce.wp-editor .single h4, body#tinymce.wp-editor .single h5, body#tinymce.wp-editor .single h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
body#tinymce.wp-editor .archive h2, body#tinymce.wp-editor .archive h3, body#tinymce.wp-editor .archive h4, body#tinymce.wp-editor .archive h5, body#tinymce.wp-editor .archive h6 {
  margin-top: 0;
  margin-bottom: 0.3em;
}
body#tinymce.wp-editor .home h1, body#tinymce.wp-editor .home h2, body#tinymce.wp-editor .home h3, body#tinymce.wp-editor .home h4, body#tinymce.wp-editor .home h5, body#tinymce.wp-editor .home h6 {
  margin-top: 0;
}
body#tinymce.wp-editor .home h3 {
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  font-size: 1.2em;
  margin-bottom: 20px;
}
body#tinymce.wp-editor .home h4 {
  margin-bottom: 5px;
  font-size: 1em;
}
body#tinymce.wp-editor header.top h1, body#tinymce.wp-editor header.top h2 {
  line-height: 0;
}
body#tinymce.wp-editor h1.search-title {
  margin-bottom: 40px;
}
body#tinymce.wp-editor h1 span {
  display: block;
  font-size: 0.4em;
  line-height: 1em;
  font-weight: 400;
}
body#tinymce.wp-editor h2.filter-title {
  color: white;
  background-color: #1f5166;
  padding: 10px 0;
  font-size: 2em;
}
body#tinymce.wp-editor h2.subtitle {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: lighter;
  font-style: italic;
}
body#tinymce.wp-editor nav h3, body#tinymce.wp-editor .side h3 {
  font-size: 1.5em;
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
body#tinymce.wp-editor .filter h3 {
  margin-bottom: 15px;
  font-size: 1.2em;
}
body#tinymce.wp-editor .col + .col h4 {
  font-size: 0.93em;
}
body#tinymce.wp-editor strong {
  font-weight: 600;
}
body#tinymce.wp-editor strong h1, body#tinymce.wp-editor strong h2, body#tinymce.wp-editor strong h3, body#tinymce.wp-editor strong h4, body#tinymce.wp-editor strong h5, body#tinymce.wp-editor strong h6 {
  font-weight: 500;
}
body#tinymce.wp-editor em {
  font-style: italic;
}
body#tinymce.wp-editor hr {
  color: rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.12);
  height: 1px;
  border: none;
  margin: 30px 0;
}
body#tinymce.wp-editor p {
  margin: 1.5em 0;
}
body#tinymce.wp-editor h1 + p, body#tinymce.wp-editor h1 + ul, body#tinymce.wp-editor h1 + ol, body#tinymce.wp-editor h1 + dl, body#tinymce.wp-editor h2 + p, body#tinymce.wp-editor h2 + ul, body#tinymce.wp-editor h2 + ol, body#tinymce.wp-editor h2 + dl, body#tinymce.wp-editor h3 + p, body#tinymce.wp-editor h3 + ul, body#tinymce.wp-editor h3 + ol, body#tinymce.wp-editor h3 + dl, body#tinymce.wp-editor h4 + p, body#tinymce.wp-editor h4 + ul, body#tinymce.wp-editor h4 + ol, body#tinymce.wp-editor h4 + dl, body#tinymce.wp-editor h5 + p, body#tinymce.wp-editor h5 + ul, body#tinymce.wp-editor h5 + ol, body#tinymce.wp-editor h5 + dl, body#tinymce.wp-editor h6 + p, body#tinymce.wp-editor h6 + ul, body#tinymce.wp-editor h6 + ol, body#tinymce.wp-editor h6 + dl {
  margin-top: 5px;
}
body#tinymce.wp-editor ul, body#tinymce.wp-editor ol {
  padding: 0;
}
body#tinymce.wp-editor li {
  margin: 0 0 0 13px;
  padding-left: 2px;
  list-style-type: disc;
}
body#tinymce.wp-editor ol li {
  list-style-type: decimal;
}
body#tinymce.wp-editor ol li li {
  list-style-type: lower-alpha;
}
body#tinymce.wp-editor cite {
  font-style: italic;
}
body#tinymce.wp-editor blockquote {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 1px 40px 1px 22px;
  margin: 30px 0;
  border-left: 10px solid #1f5166;
}
body#tinymce.wp-editor blockquote p {
  margin: 1em 0;
}
body#tinymce.wp-editor figcaption {
  font-style: italic;
}
body#tinymce.wp-editor dt {
  font-weight: 600;
}
body#tinymce.wp-editor dd {
  margin: 0 0 25px 0;
  font-weight: normal;
}
body#tinymce.wp-editor a:link, body#tinymce.wp-editor .col a h4 {
  text-decoration: underline;
  color: tint(#336699, 83%);
  font-weight: 600;
  -webkit-transition: color 0.24s ease-in-out;
  -o-transition: color 0.24s ease-in-out;
  transition: color 0.24s ease-in-out;
}
body#tinymce.wp-editor a:hover, body#tinymce.wp-editor a:focus, body#tinymce.wp-editor a:active,
body#tinymce.wp-editor .col a h4:hover, body#tinymce.wp-editor .col a h4:focus, body#tinymce.wp-editor .col a h4:active {
  color: #204060;
}
body#tinymce.wp-editor .col a:visited, body#tinymce.wp-editor .main a:visited {
  color: #204060;
}
body#tinymce.wp-editor .col .current-menu-item > a {
  color: rgba(0, 0, 0, 0.87);
}
body#tinymce.wp-editor .main-nav a:link, body#tinymce.wp-editor .footer-nav a:link, body#tinymce.wp-editor a.btn {
  text-decoration: none;
}
body#tinymce.wp-editor article p a[href*="//"]:not([href*="linguistics.ucla"]).btn, body#tinymce.wp-editor article h1 a[href*="//"]:not([href*="linguistics.ucla"]).btn, body#tinymce.wp-editor article h2 a[href*="//"]:not([href*="linguistics.ucla"]).btn, body#tinymce.wp-editor article h3 a[href*="//"]:not([href*="linguistics.ucla"]).btn, body#tinymce.wp-editor article h4 a[href*="//"]:not([href*="linguistics.ucla"]).btn, body#tinymce.wp-editor article h5 a[href*="//"]:not([href*="linguistics.ucla"]).btn, body#tinymce.wp-editor article h6 a[href*="//"]:not([href*="linguistics.ucla"]).btn {
  background-image: none;
}
body#tinymce.wp-editor .skip {
  float: left;
}
body#tinymce.wp-editor .skip:focus {
  position: static;
  width: auto;
  height: auto;
}
body#tinymce.wp-editor h1, body#tinymce.wp-editor .h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor .h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor .h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor .h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor .h5 {
  text-rendering: optimizelegibility;
  font-weight: 500;
}
body#tinymce.wp-editor h1 a, body#tinymce.wp-editor .h1 a, body#tinymce.wp-editor h2 a, body#tinymce.wp-editor .h2 a, body#tinymce.wp-editor h3 a, body#tinymce.wp-editor .h3 a, body#tinymce.wp-editor h4 a, body#tinymce.wp-editor .h4 a, body#tinymce.wp-editor h5 a, body#tinymce.wp-editor .h5 a {
  text-decoration: none;
}
body#tinymce.wp-editor li {
  list-style: disc;
}
body#tinymce.wp-editor p {
  margin: 2em 0;
}
body#tinymce.wp-editor table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 1.5em;
}
body#tinymce.wp-editor tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
body#tinymce.wp-editor tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.03);
}
body#tinymce.wp-editor td {
  padding: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
body#tinymce.wp-editor td:last-child {
  border-right: 0;
}
body#tinymce.wp-editor th {
  background-color: tint(#1f5166, 30%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
body#tinymce.wp-editor th:last-child {
  border-right: 0;
}
body#tinymce.wp-editor img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
  height: auto;
}
body#tinymce.wp-editor .size-auto,
body#tinymce.wp-editor .size-full,
body#tinymce.wp-editor .size-large,
body#tinymce.wp-editor .size-medium,
body#tinymce.wp-editor .size-thumbnail {
  max-width: 100%;
  height: auto;
}
body#tinymce.wp-editor .content-subtitle {
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.6em;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
}
body#tinymce.wp-editor dt {
  font-weight: normal !important;
}
@media only screen and (min-width: 481px) {
  body#tinymce.wp-editor {
    /* at this larger size, we can start to align images */
  }
  body#tinymce.wp-editor .alignleft, body#tinymce.wp-editor img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  body#tinymce.wp-editor .alignright, body#tinymce.wp-editor img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  body#tinymce.wp-editor .aligncenter, body#tinymce.wp-editor img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }
}