/* ==========================================================================
	Mobile Screen Sizes
	
	Table of Contents
	
	1. Main Containers
	2. Homepage
	3. Slider
	4. Header
	5. Navigation
	6. Footer
	7. People Archive
	8. Person Page
	9. Books
	10. Events
	11. Forms
	12. Typography
	13. Other
	14. Posts & Content Styles
	15. Pagination
   
	========================================================================== */

/*	1. Main Containers
/*--------------------------------------*/

body {
	font-size: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
.content, header {
	margin: 0 auto;
	float: none;
	width: 100%;
}
 .col, #main-content .content {
	width: 95%!important;
	margin: 0 auto;
	float: none;
}
#main-content {
	//margin-bottom: 30px;
}

/*	2. Homepage
/*--------------------------------------*/

#hero {
	display: none;
}
#hero.mobile-hero {
	display: block;
}
.home #hero {
	display: block;
	height: 30%;
	margin: 0 0 40px 0;
	@include vendor-prefix('box-shadow', '0px 5px 5px 0px rgba(0,0,0,.14)');
	
	.content {
		width: 100%!important;
		height: 120px;
		@include vendor-prefix('box-shadow', 'none');
	}
	.hero-description {
		margin: 0 auto;
		padding: 0;
		bottom: 20px;
		
		.content {
			width: 95%!important;
		}
		h2 {
			font-size: 1.5em;
			width: 100%;
		}
		p {
			font-size: .9em;
			width: 100%;
		}
		button.outline {
			min-width: 160px;
			padding: 10px 25px;
		}
	}
}
.home .col {
	width: 100%!important;
	float: left;
	margin: 0 auto 30px auto;
	
	ul, ol {
		float: left;
		clear: both;
		width: 100%;
	}
	&.news-col {
		ul {
			margin-bottom: 0;
		}
		li {
			padding: 0;
			margin: 0;
			clear: both;
			list-style: none;
			
			.news-item {
				float: none;
				width: 100%;
			}
		}
		&.two {
			.news-item {
				width: auto;
			}
			img {
				display: none;
			}
			.btn {
				margin-left: 0;
			}
		}
	}
	p, span.description {
		padding: 0;
		margin: 0 0 20px 0;
		line-height: 1.5em;
		font-size: 1em;
		font-weight: normal;
		color: $text-color;
		display: block;
	}
	&.news-col .btn {
		margin-top: -5px;
	}
}
.home .col + .col {
	width: 100%!important;
	margin: 0 auto 30px auto;
	background-color: white;
	padding: 0;

	li {
		padding: 0;
		border: none;
	}
}
.home .news-col .btn {
	margin-left: 0;
}
.home .events-col ul {
	margin: 0 auto 30px auto;
}

/*	3. Slider
/*--------------------------------------*/

.bx-wrapper {
	height: 400px!important;
	width: 100%;
}
#bxslider {
	margin-top: 0;
}
#slider {
	width: 100%;
	
	.hero-description {
		width: 75%!important;
		padding: 0 0 30px 0;
		left: 0;
		right: 0;
		
		h2 {
			font-size: 2em;
			line-height: 1.1em;
		}
		p {
			font-size: 1em;
		}
		.content {
			width: 100%!important;
		}
	}
}
#slider {
	width: 100%;
		
	li, .bg {
		height: 400px;
	}
}

@media only screen and (max-width: 550px) {
	.bx-wrapper {
		height: 280px!important;
	}
	#slider {
		width: 100%;
			
		li, .bg {
			height: 280px;
		}
	}
}

/* Direction Controls (Next / Prev) */
.bx-wrapper {
	.bx-prev {
		left: 10px;
		background: url(../images/mobile-arrow-left.png) no-repeat;
		
		&:hover {
			background: url(../images/mobile-arrow-left-light.png) no-repeat;
		}
	}
	.bx-next {
		right: 10px;
		background: url(../images/mobile-arrow-right.png) no-repeat;
	
		&:hover {
			background: url(../images/mobile-arrow-right-light.png) no-repeat;
		}
	}
	.bx-controls-direction a {
		width: 23px;
		height: 40px;
	}
}

/* Pager */
.bx-pager {
	width: 30%;
	margin-right: 5px;
	float: right;

	a:hover, a.active {
		background: $link-color;
	}
}

// Hide unneccessary things
header .university-logo, .give-back, header .search-form {
	display: none!important;
}

/*	4. Header
/*--------------------------------------*/

header {
	padding: 10px 0 10px 0;
	
	&.top {
		h1, h2 { 
			width: 100%;
			display: block;
			margin: 0;
			text-align: center
		}
	}
	// For retina, upload image 2x larger and resize here
	.dept-logo {
		width: 95%;
		max-width: 581px;
		height: auto;
	}
	nav {
		float: none;
	}
}
.breadcrumbs {
	margin-bottom: 20px;
	
	.content {
		width: 95%;
	}
}

/*	5. Navigation
/*--------------------------------------*/

header nav.desktop {
	display: none;
}
body {
	#mg-wprm-wrap {
		border-right: 1px solid #eee;
		background-color: white!important;
		@include vendor-prefix('box-shadow', '18px 0px 7px -3px rgba(0,0,0,0.17)');
	}
}
#wprmenu_bar {
	background-color: $secondary!important;
	.menu_title a {
		color: white!important;
		text-decoration: none;
		top: 0;
	}
}
div#mg-wprm-wrap {
	ul li {
		border-bottom: 1px solid $border-color!important;
		border-top: none!important;
		list-style: none;
		padding-left: 0;
		margin: 0;
	}
	ul li span.wprmenu_icon::before {
		color: $text-color;
	}
	ul li a {
		color: $text-color;
		
		&:hover {
			color: $link-color!important;
		}
	}
	ul.sub-menu {
		padding-bottom: 10px!important;
	}
	li.menu-item ul.sub-menu li.menu-item a {
		padding: 10px 15px;
	}
}

/* Secondary Navigation */
.col.side .content {
	width: 100%;
	margin: 0 auto;
	float: none;
}
.col.side.feed {
	width: 95%!important;
	margin: 0 auto;
}
.col + .col, #tribe-events-content + .col {
	width: 95%!important;
	margin: 0 auto;
	
	nav.page-nav {
		h3 {
			border-bottom: none;
			margin-bottom: 0;
			margin-left: 10px;
		}
		a {
			border-top: 1px solid $border-color;
			padding: 10px;
			display: block;
		}
		a:hover {
			background-color: $bg-light-color;
		}
		li {
			margin-bottom: 0;
		}
	}
}
#tribe-events-content + .col, #tribe-events-content + .col.side .content {
	width: 100%!important;
}
#tribe-events-content + .col.side .content {
	margin: 0;
}
.col.side nav.page-nav ul li {
	margin-bottom: 0;
}

/*	6. Footer
/*--------------------------------------*/

footer {
	//margin-top: 0px;
	
	nav {
		display: none;
	}
	.copyright {
		padding-top: 10px;
		width: 95%;
		margin: 0 auto;
		
		p {
			margin: 0;
		}
	}
	.university-logo {
		display: none;
	}
	.search-form {
		width: 301px;
		margin: 0 auto 20px auto;
		display: block;
		
		input[type="search"] {
			float: none;
			clear: none;
			margin: 0 auto;
			color: $text-color;
			width: 100%;
			max-width: 280px;
			padding: 5px 10px 5px 10px;
			background: white;
			display: block;
		}
		.search-btn {
			top: -1px;
		}
	}
}

/*	7. People Archive
/*--------------------------------------*/

/* Filters */
.filter, .filter-title {
	display: none;
}
.archive .content header {
	text-align: left;
	width: 95%;
	margin: 0 auto;
}

/* People List */
.page-template-page-people-listing {
	ul.skip-to {
		padding: 30px 0;
		
		strong + li {
			padding-left: 0;
			display: block;
		}
		li {
			display: block;
			padding: 0;
		}
		li:not(:last-child) {
			border-right: none
		}
	}
	.people-list li.person-item {	
		dl {
			width: 100%;
			margin-left: 0;
			margin-top: 20px;
		}
	}
	/* Staff */
	.people-list ul.staff {
		li.person-item:not(:last-child) {
			border: none;
		}
		li.person-item {
			width: 100%;
			height: auto;
			text-align: center;
			
			&:nth-child(odd) {
				clear: none;
			}
			.photo {
				float: none;
			}
		}
		dl {
			width: 100%;
			margin-right: 20px;
		}
		dd {
			display: block;
			float: none;
		}
	}
}


/*	8. Person Page
/*--------------------------------------*/

.single-people {
	nav.person-nav {
		height: auto;
		padding: 35px 0 60px 0;
		
		h3 {
			border-bottom: none;
		}
		ul {
			height: auto;
			width: 100%;
			overflow-y: auto;
		}
		li:not(:last-child) {
			display: block;
			margin-right: 0;
		}
	}
	nav.person-nav.mobile {
		display: block;
		width: 95%;
		float: none;
		margin: 0 auto;
	}
	
	nav.person-nav.stick {
		display: none;
	}
	header.bio {
		width: 95%;
		background: none;
		border-bottom: none;
		
		section {
			float: none;
			clear: both;
			width: 100%;
			margin: 0;
		}
		.details {
			span {
				display: block;
			}
			span + span {
				margin-left: 0;
			}
			p {
				margin-top: 0px;
			}
		}
		img {
			display: block;
		}
		h1 {
			margin-bottom: 15px;
		}
	}
	.col + .col {
		margin-top: 0;
		width: 95%!important;
		
		img {
			display: none;
		}
		.table-of-contents {
			display: none;
		}
	}
	.photo {
		margin: 0 auto 25px auto;
	}
}

/*	9. Books
/*--------------------------------------*/

/* People Page */
.single-people .book-list {
	float: none;
	
	img, .custom-cover {
		float: left;
		margin-right: 15px;
	}
	li {
		float: left;
		width: 100%;
		display: block;
	}
	dl {
		margin-left: 15px;
		float: none;
		clear: none;
		width: auto;
	}
	dt.title {
		font-size: 1em;
	}
	dd.subtitle {
		font-size: .85em;
	}
}

/* Book Page */
.single-books {
	.content header {
		.cover {
			display: block;
			margin: 15px auto;
			width: 190px;
			height: auto;
		}
		.custom-cover.cover {
			width: 160px;
			height: 205px;
		}
		.custom-cover .title {
			font-size: 1.2em;
			line-height: 1em;
			text-align: center;
		}
	}
	.col + .col {
		.cover {
			display: none;
		}
	}
	.author {
		margin: 0 0 15px 0;
	}
}

/* Book Archive */
.post-type-archive-books {
	
	.content header {
		width: 95%;
	}
	.book-list {
		margin-top: 20px;
		clear: both;
		
		li {
			padding: 15px 0;
			margin: 0 auto;
			width: 95%;
			height: auto;
			text-align: left;
			float: none;
			clear: both;
		}
		.custom-cover, img {
			float: left;
			margin-right: 15px;
		}
	}
}

/*	10. Events
/*--------------------------------------*/

#tribe-events, #tribe-events-content.tribe-events-month {
	width: 100%;
	margin: 0 auto; 
}
#tribe-events-content {
	width: 100%;
	margin: 0 auto;
}
#tribe-events-pg-template {
	width: 95%;
	padding: 40px 0 0 0!important;	
}
.tribe-events-sub-nav {
	margin-top: 15px!important;
}
.tribe-events-last {
	padding-bottom: 0!important;
}
.post-type-archive-tribe_events .col {
	width: 100%;
}
.post-type-archive-tribe_events #tribe-events {
	margin-top: 20px!important;
}
.datepicker thead th {
	border-radius: 0!important;
}
#tribe-bar-form {
	padding: 0!important;
}
.tribe-events-schedule {
	margin: 15px 0!important;
	
	p {
		margin: 0;
	}
}

/*	11. Forms
/*--------------------------------------*/

article form {
	margin-bottom: 40px;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
	padding: 0 10px;
	width: 93%;
	max-width: 500px;
}
textarea {
	width: 94%;
}
select {
	width: 100%;
	max-width: 525px;
}

/*	12. Typography
/*--------------------------------------*/

.page {
	h1 {
		margin-top: 0em!important;
	}
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;

	a {
		text-decoration: none;
	}
}
h1 {
	font-size: 2.5em;
	line-height: 1em;
}
h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}
.home .col h3, .col + .col h3 {
	font-size: 1.35em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 1.1em;
	font-weight: 700;
}
h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
p {
	clear: both;
}
blockquote {
	padding: 1px 22px 1px 22px;
	font-size: 1.2em;
	margin: 30px 0;
}
a:link {
	-webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

/*	13. Other
/*--------------------------------------*/

.alignleft, .alignright, .aligncenter, .alignnone, .wp-post-image { 
	float: none;
	margin: 0 auto;
	height: auto;
	max-width: 100%;
}
.wp-caption {
	max-width: 100%;

	img {
		max-width: 100%;
		height: auto;
	}
	.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}
.color-block {
	margin: 1px;
}
.fixclear:after { 
   overflow: auto;
}

/*	14. Posts & Content Styles
/*--------------------------------------*/

article header {
	padding: 0;
}
.entry-content {
	table {
		margin-bottom: 1.5em;
	}
	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}
}
.category, .search-results {
	article {
		padding-bottom: 30px;
	}
}

/*	15. Pagination
/*--------------------------------------*/

.pagination, .wp-prev-next {
	margin: 1.5em 0;
}
.pagination {
	text-align: center;

	ul {
		display: inline-block;
		white-space: nowrap;
		padding: 0;
		clear: both;
	}
	li {
		padding: 0;
		margin: 0;
		float: left;
		display: inline;
		overflow: hidden;
	}
	a, span {
		margin: 0;
		text-decoration: none;
		padding: 0;
		line-height: 1em;
		font-size: 1em;
		font-weight: normal;
		padding: 0.75em;
		min-width: 1em;
		display: block;
		
		&:hover, &:focus {
			background-color: $secondary;
			color: white;
		}
	}
	.current{
		cursor: default;
		color: $text-color;
	
		&:hover, &:focus {
			background-color: white;
			color: $text-color;
		}
	}
}
.wp-prev-next {
	.prev-link {
		float: left;
	}
	.next-link {
		float: right;
	}
}