/* ==========================================================================
	Main Styles - Desktop
	
	Table of Contents
	
	1. Main Containers
	2. Homepage
	3. Header
	4. Navigation
	5. Footer
	6. Person Page
	7. People Archive
	8. Books
	9. Articles/Posts
	10. Other
	
	========================================================================== */

/*	1. Main Containers
/*--------------------------------------*/

#container {
	width: 100%;
	overflow: auto;
	zoom: 1;
}
.content, header {
	width: $site-width;
	margin: 0 auto;
	@extend %clearfix;
}
#hero {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 400px;
	float: left;
	clear: both;
	margin: 0 0 13px 0;
}
.col {
	width: 640px;
	float: left;
}
.col + .col {
	width: 280px;
	margin: 10px 0 30px 20px;
}

/*	2. Homepage
/*--------------------------------------*/

.home {
	#hero {
		height: $home-hero-height;
		margin: 0 0 40px 0;
		
		.content {
			width: 100%;
			height: $home-hero-height;
			position: relative;
			
			&.text {
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
				text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
			}
		}
		.hero-description .content {
			width: $site-width;
			position: static;
			height: auto;
			box-shadow: none;
			background: none;
		}
	}
	.hero-description {
		color: $white;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		padding: 0 0 60px 0;
		position: absolute;
		bottom: 0;
		
		h2 {
			font-size: 4em;
			line-height: 1em;
			max-width: 800px;
			font-weight: 600;
			margin: 0 auto 10px auto;
		}
		p {
			font-size: 1.2em;
			max-width: 700px;
			margin: 0 auto;
			font-weight: normal;
		}
		.outline {
			margin-top: 35px;
			min-width: 106px;
		}
		.left {
			text-align: left;
			
			h2 {
				margin-left: 0;
			}
			p {
				margin: 0;
			}
		}
		.right {
			text-align: right;
			
			h2 {
				margin-right: 0;
			}
			p {
				margin: 0;
				float: right;
				clear: both;
			}
			.btn {
				float: right;
				clear: both;
			}
		}
	}
	.hero-description.middle {
		bottom: 12%;
		
		h2 {
			width: 100%;
		}
	}
}
.home .col {
	float: left;
	
	ul, ol {
		margin-top: 0;
		
		a {
			text-decoration: none;
		}
	}
	li {
		list-style: none;
		margin-left: 0;
	}
	p, span.description {
		padding: 0;
		margin: 0 0 20px 0;
		line-height: 1.5em;
		font-size: .8em;
		font-weight: normal;
		color: $text-color;
		display: block;
	}
	&.one {
		width: 300px;
		padding: 0;
	}
	&.two {
		width: 300px;
	}
	&.three {
		width: 300px;
	}
	&.page-col {
		p {
			font-size: 1em;
		}
	}
	&.content-col {
		img {
		    max-width: 100%;
		    height: auto; 
		}
		p {
			font-size: 1em;
		}
	}
	&.news-col, .events-col {
		li {
			padding: 0;
			clear: both;
		}
		.category {
			display: block;
			line-height: 1em;
			padding: 5px 0;
		}
		.category a {
			font-size: .75em;
			color: rgba(0, 0, 0, 0.53);
			text-transform: uppercase;
			font-weight: normal;
			letter-spacing: .05em;
			display: inline-block;
			font-weight: 700; 
		}
		img {
			margin: 3px 20px 20px 0;
			float: left; 
		}
		&.one .item {
			width: auto; 
		}
		&.two .images .item {
			float: left;
			width: 330px; 
		}
		&.two .images + .btn {
			margin-left: 130px; 
		}
		&.three .images .item {
			float: left;
			width: 570px; 
		}
		&.three .images + .btn {
			margin-left: 130px; 
		}
	}
	&.events-col {
		.duration {
			color: rgba(0, 0, 0, 0.87);
			line-height: 1.5em;
			font-size: .8em; 
		}
		.duration span {
			display: inline;
			font-weight: 600;
			padding: 0;
			margin: 0; 
		}
		.category a {
			font-size: .75em;
			color: rgba(0, 0, 0, 0.53);
			text-transform: uppercase;
			font-weight: normal;
			letter-spacing: .05em;
			display: inline-block;
			font-weight: 700; 
		}
		.category + .category:before {
			content: ",";
			margin: 0 5px 0 0; 
		}
		.item {
			margin-bottom: 20px; 
		}
	}
}
.home .col + .col {
	margin: 0 0 0 20px;
	background-color: white;
	
	li {
		padding: 0;
	}
}

/*	3. Header
/*--------------------------------------*/

header {
	padding: 35px 0 0 0;
	
	&.top {
		h1, h2 { 
			width: 690px;
			display: inline-block;
			margin: 0;
			text-align: center
		}
	}
	// For retina, upload image 2x larger and resize here to half the size
	.dept-logo {
		width: 490px;
		height: auto;
	}
	nav {
		clear: both;
		float: left;
		padding: 30px 0 20px 0;
	}
	nav ul {
		width: 760px;
	}
	.search-form {		
		.search {
			margin-top: 30px;
		}
	}
	.give-back {
		width: 130px;
		text-align: center;
		float: right;
		margin-top: 20px;

		span.support {
			font-size: .8em;
			display: block;
		}
	}
	.university-logo {
		float: left;
		margin-top: 20px;
		// For retina, upload image 2x larger and resize here
		width: 119px;
		height: 38px;
	}
}
.breadcrumbs {
	background-color: $primary;
	width: 100%;
	float: left;
	clear: both;
	color: white;
	font-size: .8em;
	padding: 8px 0;
	margin-bottom: 40px;
	
	a {
		font-weight: 600;
		color: white;
		text-decoration: underline;
	}
}
.site-banner {
	background-color: tint($primary, 10%);
	width: 100%;
	float: left;
	
	.content {
		margin-top: 20px;
		margin-bottom: 10px;
		max-width: $site-width;
		width: 90%;
	}
}

/*	4. Navigation
/*--------------------------------------*/

header, footer {
	nav.desktop ul, nav ul {
		padding: 0;
		margin: 0;
		float: left;
	}
	nav.desktop ul li, nav ul li {
		display: inline-block;
		padding: 0;
		margin: 0;
	}
	nav.desktop ul li:not(:last-child), nav ul li:not(:last-child) {
		margin: 0 3px 0 0;
	}
}
header nav.desktop ul li {
	position: relative;
}

/* Drop Down */
header nav.desktop {
	ul li ul {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		padding: 0 10px;
		width: 170px;
		top: 20px;
		border-top: 4px solid tint($primary, 15%);
		margin-top: 5px;
		background-color: white;
		z-index: 10000;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0 rgba(0,0,0,.14)');
		@include transition(all 0.24s ease-in-out);
	}
	ul li ul li, ul li ul li a { 
		display: block;
		margin: 0;
	}
	ul li ul li a {
		line-height: 1em;
		padding: 6px 0;
	}
	ul li:hover ul, .sub-menu.open {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	ul li.menu-item-has-children a {
		&:after {
			content: "\f0d7"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			padding-left: 3px;
		}		
	}
	ul li.menu-item-has-children ul.sub-menu a {
		background: none;
		padding-right: 0;
		
		&:after {
			content: none;
		}
	}
	ul li ul li.menu-item-has-children {
		background: none;
	}
	a {
		font-weight: 600;
		text-transform: uppercase;
		font-size: .8em;
	}
	a, a:link {
		color: $text-color;
		@include transition(all 0.24s ease-in-out);
	}
	a:hover, a:focus, a:active {
		color: $link-hover-color;
	}
}

/* Side Menu */
.col.side {
	width: 220px;
	margin-left: 80px;

	.content {
		width: 220px;
	}
	li {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		line-height: 1.2em;
	}
	.post-date {
		font-weight: 600;
		font-size: .85em;
		line-height: 1.5em;
		display: block;
	}
	ol, ul  {
		margin-bottom: 25px;
	}
	nav.page-nav ul {
		padding: 0;
		margin: 0;
		
		li {
			margin-bottom: 5px;
		}
	}
	.widget_categories li {
		margin-bottom: 5px;
	}
	.widget_recent_entries li {
		margin-bottom: 20px;
	}
	.btn {
		margin-bottom: 40px;
	}
	.sub-menu { 
		display: none;
	}
	.current_page_item .sub-menu, 
	.current_page_parent .sub-menu {
		display: block;
		margin: 10px 0 10px 30px;
	}
	.sub-menu li {
		list-style: disc;
	}	
}
.col-nav {
	width: 220px;

	li {
		list-style: none;
		margin-left: 0;
		line-height: 1.5em;
	}
	ul + h3 {
		margin-top: 40px;
	}
}

/*	5. Footer
/*--------------------------------------*/

footer {
	background-color: $primary;
	clear: both;
	margin-top: 60px;
	float: left;
	width: 100%;
	padding: 35px 0 40px 0;
	color: white;
	font-size: 1em;
	line-height: 1.5em;
	@extend %clearfix;
	
	/* Footer Nav */
	nav.desktop ul li:not(:last-child), nav ul li:not(:last-child) {
		margin: 0 10px 0 0;
	}
	nav {
		a, a:link, a:visited {
			color: white;
			font-weight: 600;
			text-transform: uppercase;
			font-size: .8em;
		}
		ul.footer-nav {
			clear: left;
			float: left;
		}
		ul.social-links {
			clear: right;
			float: right;
		}
		.icon {
			margin: 0 0 0 10px;
			font-size: 1.7em;
		}
	}
	// Hiding and only showing on mobile
	.search-form {
		display: none;
	}
	.copyright {
		padding-top: 50px;
		font-size: .8em;
		
		.university-logo img {
			float: left;
			width: 100px;
			height: 32px;
		}
		p {
			float: left;
			margin: 0 0 0 20px;
		}
		span {
			margin: 0 5px;
		}
		a, a:link, a:visited {
			color: white;
			text-transform: none;
			text-decoration: underline;
		}
	}
}

/*	6. Person Page
/*--------------------------------------*/

.single-people {
	.breadcrumbs {
		margin-bottom: 0;
	}
	.main {
		@extend %clearfix;
	}
	article header {
		padding: 0;
		
		img {
			display: none;
		}
	}
	header.bio {
		background: $bg-light-color;
		clear: both;
		width: 100%;
		display: block;
		padding: 50px 0;
		margin-bottom: 20px;
		border-bottom: 1px solid $border-color;
		@extend %clearfix;
		
		section {
			float: right;
			width: 700px;
			clear: right;
			margin: 0 0 0 15px;
			display: block;
			padding: 0;
		}
		h1 {
			margin-bottom: 5px;
		}
		.position {
			margin-top: -5px;
			display: block;
			line-height: 1.5em;
			font-weight: 600;
		}
		.details {
			margin-top: 1em;
			
			span {
				display: inline;
			}
			span + span {
				margin-left: 20px;
			}
			p {
				margin-top: 0px;
			}
		}
		p:last-of-type {
			margin-bottom: 0;
		}
	}
	#main-content.col {
		float: none;
		margin: 0 auto;
	}
	section {
		border-bottom: $border-color 2px solid;
		padding: 35px 0;
		margin-bottom: 0;
		clear: both;
		display: block;
		float: left;
		width: 100%;
		
		h2 {
			font-size: 2.2em;
			margin: .5em 0;
		}
		h2 + hr {
			border-bottom: 2px solid $separator-color;
			width: 310px;
			margin: 0 0 30px 0;
		}
		h3 {
			font-size: 2em;
			font-weight: 300;
			margin-top: 0;
		}
	}
	section#publications {

		section {
			border: none;
			padding: 0;
		}
		section:first-of-type {
			// margin-top: 20px;
		}
	}
	section:last-of-type {
		border-bottom: none;
	}
	nav.person-nav {
		border-top: $border-color 1px solid;
		border-bottom: $border-color 1px solid;
		padding: 12px 0;
		width: 100%;
		clear: both;
		background: white;
		height: 26px;
		float: left;
		z-index: 999999;
		display: block;
		
		ul {
			width: $site-width;
			margin: 0 auto;
			overflow-y: hidden;
			height: 30px;
		}
		li {
			display: inline-block;
			margin-left: 0;
		}
		li:not(:last-child) {
			display: inline-block;
			margin-right: 10px;
		}
	}
	nav.person-nav.mobile {
		display: none;
	}
	
	.photo {
		width: 220px;
		height: 220px;
		margin-bottom: 25px;
	}
	.circle {
		// To make circle, radius should be at least half the width and height
		border-radius: 140px;
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 70px;
	}
}
.link {
	&:before {
		content: "\f0c1"; 
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		padding-right: 5px;
		color: $secondary-light;
		font-size: .9em;
	}
}
.download {	
	&:before {
		content: "\f019"; 
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		padding-right: 5px;
		color: $secondary-light;
		font-size: .9em;
	}
}
.person-child {
	clear: both;
	padding-top: 50px;
	
	#main-content.col {
		float: right;
		clear: right;
		width: 700px;
	}
	h1 {
		margin-bottom: 30px;
	}
	.pre-title {
		font-size: 1.2em;
	}
}

/*	7. People Archive
/*--------------------------------------*/

/* Filters */
.page-template-page-people-listing .main header {
	text-align: left;
	float: left;
	clear: both;
	padding: 0;
	width: 100%;
}
.filter {
	clear: both;
	float: left;
	margin: 20px 0;
	width: 100%;

	ul {
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
	}
}
.button-group {
	width: 100%;
	float: left;
	
	button {
		margin-right: 5px;
		min-width: 124px;
		letter-spacing: 0;
	}
	button.all {
		min-width: 100px;
		margin-right: 10px;
	}
}
ul.skip-to {
	border-bottom: 2px solid $border-color;
	padding-bottom: 10px;
	
	li {
		display: inline-block;
		list-style: none;
		padding: 0 10px;
		margin: 0;
	}
	li:not(:last-child) {
		border-right: 2px solid $border-color;
	}
}

/* People List */
.people-list {
	clear: both;
	float: left;

	ul {
		margin: 0;
		padding: 0 0 20px 0;
		float: left;
	}
	ul + h3 {
		border-top: 10px solid $border-color;
		padding-top: 40px;
		margin-bottom: 0;
	}
	li {
		list-style: none;
	}
	li.person-item:not(:last-child) {
		border-bottom: 2px solid $border-color;
	}
	li.person-item {
		display: block;
		float: left;
		padding: 30px 0;
		margin: 0;
		width: 100%;
		line-height: 1.3em;
		
		.photo {
			width: 100px;
			height: auto;
			float: left;
		}
		.circle {
			// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
			border-radius: 55px;	
		}
		.rounded {
			// Make radius 1/4 the width and height
			border-radius: 25px;
		}
		dl {
			margin: 0 0 0 20px;
			width: 520px;
			float: left;
		}
		.name h3 {
			margin: 0 0 10px 0;
		}
		.name a {
			font-weight: 500;
			text-decoration: none;
			border-bottom: 2px solid;
		}
		.email, .office, .hours, .phone, .position, .education, .interest, .pronouns {
			margin-bottom: 0;
			color: $text-color;
			line-height: 1.6em;
			overflow-wrap: break-word;
		}
		.email, .office, .hours, .phone, .year, .pronouns {
			margin-bottom: 0;
			color: $text-color;
			line-height: 1.6em;
			display: inline-block;
			float: left;
		}
		.email, .office, .pronouns {
			clear: left;
			margin-right: 20px;
		}
		.interest {
			color: $text-color;
			padding-top: 20px;
			clear: both;
		}
		.position {
			font-weight: 600;
		}
		.cv {
			display: inline-block;
			margin-left: 10px;
			margin-top: 36px;
			float: left;
			clear: right;
		}
		.btn {
			float: left;
			clear: left;
			margin-top: 30px;
		}
		.btn.external, a.external {
			@extend %externallink;
		}
		h3 .external:after {
			font-size: .4em;
			line-height: 0;
		}
	}
}

/* Staff */
.people-list ul.staff {
	li.person-item:not(:last-child) {
		border: none;
	}
	li.person-item {
		width: 50%;
		height: 170px;
		
		&:nth-child(odd) {
			clear: left;
		}
	}
	.photo {
		width: 80px;
	}
	dl {
		width: 200px;
		margin-right: 20px;
	}
	.name {			
		h3 {
			font-size: 1.46em;
		}
	}
	.email {
		width: 100%;
	}
}

/*	8. Books
/*--------------------------------------*/

/* General Styles */
.cover {
	@include vendor-prefix('box-shadow', '0 0 10px 0 rgba(0,0,0,.14)');
	border: 3px solid white;
}
.custom-cover {
	background-color: #b4b4b4;
	margin: 0 auto 0 auto;
	
	 .title {
		color: white;
		font-weight: 600;
		text-align: center;
		display: block;
	}
}
.publisher {
	display: block;
}
.book-list {
	.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 5px;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
}

/* People Page */
.single-people .book-list {
	float: left;
	
	img, .custom-cover {
		float: left;
	}
	.custom-cover {
		width: 50px;
		height: 60px;
		padding: 20px 5px 10px 5px;
		
		.title {
			font-size: .42em;
			line-height: 1em;
		}
	}
	li {
		float: left;
		margin: 0 0 20px 0;
		list-style: none;
		display: inline-block;
		width: 320px;
	}
	dl {
		margin-left: 15px;
		float: left;
		clear: none;
		width: 225px;
	}
	dt.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd {
		margin-bottom: 0;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin: 10px 0;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
	dd.subtitle {
		font-style: italic;
		line-height: .8em;
	}
}

/* Book Page */
.single-books {
	.publisher {
		display: block;
		font-size: .8em;
		font-style: italic;
	}
	.author {
		margin-top: 20px;
		display: block;
	}
	.author p {
		display: inline;
	}
	.author-name + .author-name {
		
		&:before {
			content: ",";
			margin: 0 5px 0 -3px;
		}	
	}
	.custom-cover {
		width: 244px;
		height: 313px;
		line-height: 24px;
		padding: 60px 15px 10px 15px;
		
		.title {
			font-size: 24px;
		}
	}
	.content header {
		width: 100%;
		
		.cover {
			display: none;
		}
	}
}

/* Book Archive */
.post-type-archive-books {
	h1 {
		text-align: center;
	}
	.book-list {
		margin-top: 40px;
		clear: both;
		
		ul {
			padding: 0;
		}
		li {
			display: block;
			padding: 15px 10px;
			margin: 0 10px;
			width: 195px;
			height: 280px;
			text-align: center;
			float: left;
		}
		.custom-cover {
			width: 91px;
			height: 127px;
			line-height: 9px;
			padding: 20px 5px 10px 5px;
			margin-bottom: 12px;
			
			.title {
				font-size: 9px;
			}
		}
		dt.title {
			font-size: 1em;
			line-height: 1em;
			margin: 5px 0;
		}
		dd.publisher {
			font-size: .8em;
			line-height: .8em;
			margin-bottom: 5px;
		}
		dd.author a {
			display: block;
			font-size: .8em;
			line-height: 1.14em;
		}
		a {
			text-decoration: none;
		}
	}
}

/*	9. Articles/Posts
/*--------------------------------------*/

.category, .search-results, .archive, .blog {
	article {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	article + article {
		border-top: 2px solid $border-color;
	}
	.publish-date {
		margin: 0;
		display: block;
	}
	article h3.entry-title {
		margin: 0;
	}
}
.search-results {
	article {
		padding-top: 0;
	}
	article h3 {
		margin: 1em 0;
	}
}
article {	
	img, figure {
		max-width: 640px;
		height: auto;
	}
}
.publish-date {
	margin: 20px 0;
	display: block;
}

/*	10. Other
/*--------------------------------------*/

.alignleft { 
	float: left;
	margin: 0 15px 15px 0;
}
.alignright { 
	float: right;
	margin: 0 0 15px 15px;
}
.aligncenter {
	display: block;
	margin: 30px auto;
}
.pagination li {
	display: inline-block;
}
.pagination {
	text-align: center;
	margin-top: 40px;
}
.instructors {
	display: block;
	margin-bottom: -20px;
}
figure {
	margin-left: 0;
	margin-right: 0;
}
.content-subtitle {
	font-size: 1.4em;
	font-weight: 500;
	line-height: 1.6em;
	display: block;
}
.notice, .gform_confirmation_wrapper {
	width: 100%;
	margin: 2em 0;
	background: $bg-light-color;
	border-top: 10px solid $primary;
	padding: 10px 0;
}
.notice p, .notice h3 {
	padding: 0 25px;
}
.gform_confirmation_wrapper {
	padding: 10px 0 40px 0;
	
	.gform_confirmation_message {
		padding-left: 25px;
		padding-right: 25px;
	}
}
ul.course-list {
	li {
		list-style: none;
		margin-left: 0;
		padding-bottom: 5px;
	}
	h3 {
		margin-bottom: 0;
	}
	p {
		margin: 1em 0 1.5em 0;
	}
}

/* List Pages */
.item-list {
	margin-top: 25px;
	
	.item {
		list-style: none;
		margin: 0;
		border-top: 2px solid rgba(0, 0, 0, 0.12);
		padding: 15px 0 40px 0;
	}
	h3 {
		margin: .5em 0;
	}
	.btn {
		margin-right: 15px;
	}
	.program-type {
		font-weight: bold;
		display: block;
		margin-top: -10px;
	}
	.program-email, .item-list .program-phone {
		display: inline-block;
		margin-right: 20px;
	}
}
    
/* Tables */
td, th {
	padding: 5px;
} 
th {
	background-color: $primary-light;
}
tr:nth-of-type(odd) {
	background: $bg-light-color;
}
tr:hover td {
	background-color: $bg-dark-color;
}
td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: $border-color;
}

/* FAQ/Accordion */
h5.topic {
	cursor: pointer;
	font-size: 1em;
	padding: 10px 0;
	margin: 0;
	
	button {
		background: none;
		color: $link-color!important;
		padding: 0;
		margin-bottom: auto;
		letter-spacing: 0;
		line-height: 1.3em;
		text-align: left;
		border-radius: 0;
		@include transition(all 0.24s ease-in-out);
	
		&:hover, &:focus {
			background: none;
			color: $link-hover-color!important;
		}
		&:active {
			top: 0;
		}
		&:before {
			content: "\f0da"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			width: 20px;
			display: inline-block;
		}
		&[aria-expanded=true]:before,
		&[data-expanded=true]:before {
			content: "\f0d7"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			width: 20px;
		}
	}
}
div.response + h5.faq {
	border-top: 1px solid $border-color;
}
div.response {
	padding-left: 20px;
	
	p {
		margin: 0 0 1.5em 0;
	}
	
	// This is the opened state
	&.animated-expandmore__to_expand {
		display: block;
		overflow: hidden;
		opacity: 1;
		transition: visibility 0s ease, max-height .8s ease, opacity 1s ease ;
		max-height: 100em;
		visibility: visible;
		transition-delay: 0s;
	}
	
	// This is the hidden state
	&[data-hidden=true].animated-expandmore__to_expand {
		display: block;
		max-height: 0;
		opacity: 0;
		visibility: hidden;
		transition-delay: 1s, 0s, 0s;
	}
}

// Accordion style
h5.accordion {
	padding: 10px;
	margin: 0;
	background: $bg-light-color;
	border: 1px solid $border-color;
	@include transition(all 0.24s ease-in-out);
	
	&:hover {
		background: $bg-dark-color;
	}
	button {
		background: none;
		color: $link-color!important;
		padding: 0;
		margin-bottom: auto;
		letter-spacing: 0;
		line-height: 1.3em;
		text-align: left;
		@include transition(all 0.24s ease-in-out);
	
		&:hover, &:focus {
			background: none;
			color: $link-hover-color!important;
		}
		&:active {
			top: 0;
		}
		&:before,
		&:before {
			content: "\f067"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			font-size: .7em;
			width: 20px;
			display: inline-block;
		}
		&[aria-expanded=true]:before,
		&[data-expanded=true]:before {
			content: "\f068"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			width: 20px;
		}
	}
}
div.response.accordion {
	border: 1px solid $border-color;
	border-top: none;
	padding: 0;
	margin-top: -2px;
	
	& > * {
		margin: 1.5em 20px;
	}
	& + h5.accordion {
		border-top: none;
	}
	&[data-hidden=true] {
		padding: 0;
	}
}

/* Galleries */
.gallery {
	.gallery-item {
		display: inline-block;
		vertical-align: top
	}
	.gallery-item + .gallery-item {
		margin-left: 10px;
	}
	.gallery-caption {
		max-width: 150px; 
		line-height: 16px; 
		font-size: 12px; 
		font-style: italic;
	}
	.gallery-icon {
		min-height: 160px;
	}
}
// When using Responsive Lightbox plugin
#fancybox-close {
	right: -40px!important;
}
#fancybox-right {
	right: -25px!important;
}
#fancybox-right:hover span {
	left: auto;
	right: 10px;
}
#fancybox-left:hover span {
	left: 10px;
}

//    C O L O R  P A L E T T E
//--------------------------------------*/

.color-block {
	width: 103px;
	height: 103px;
	float: left;
	text-align: center;
	line-height: 7em;
	margin: 0 1px;
}
.light-primary {
	background: $primary-light;
}
.primary {
	background: $primary;
}
.dark-primary {
	background: $primary-dark;
}
.light-secondary {
	background: $secondary-light;
}
.secondary {
	background: $secondary;
}
.dark-secondary {
	background: $secondary-dark;
}
.light {
	color: white;
}